<div class="row justify-content-center m-2">
    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
        <h4>Go to score entry page:</h4>
        <a href="/admin/score_entry" class="btn btn-block btn-success">Enter a score</a>
    </div>
</div>
<hr>
<div class="row justify-content-center m-2">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
        <h4>Go to match maker page, to create schedules:</h4>
        <a href="/admin/match_maker" class="btn btn-block btn-success">Creat a schedule</a>
    </div>
</div>
<hr>
<div class="row justify-content-center m-2">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h4>Delete a schedule from match maker:</h4>
        <a href="/admin/match_maker/delete_schedule" class="btn btn-block btn-success">Delete a schedule</a>
    </div>
</div>
<hr>
<div class="row justify-content-center m-2">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
        <h4>Go to edit page, to update and delete the content:</h4>
        <a href="/admin/scores/update" class="btn btn-block btn-success">Update a score</a>
    </div>
</div>
<hr>
<div class="row justify-content-center m-2">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h4>Click down to logout of the panel as admin:</h4>
        <a href="/admin/logout" class="btn btn-block btn-danger">Logout</a>
    </div>
</div>
<hr>