<footer class="footer text-center bg-dark mt-1 mb-0 p-0">
    <div class="container text-light">
    <div class="row">
        <div class="col-lg-6 col-md-12">
           <a class="text-light nav-link p-0" href="#">Back to top</a>
        </div>
        <div class="col-lg-6 col-md-12">
            <a href="https://www.facebook.com/vcetsportscommittee2k19/"><i class="p-0 text-light m-2 fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/avahan_vcet2019/"><i class="p-0 text-light m-2 fa fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCJb_J_Bt8zfBGou-JAmSHGQ"><i class="p-0 text-light m-2 fa fa-youtube"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 ">
            <p>&copy; Copyright to Vidyavardhini's College Of Engineering and Technology</p>
        </div>
    </div>
    </div>
</footer>