<div class="row bg-dark m-0 p-0 col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="text-center bg-dark col-lg-12 col-md-12 col-sm-12 col-xs-12 m-0 p-0">
  <h5 style="font-family: Comic Sans MS, cursive, sans-serif" class="text-light mb-1 pt-2">Vidyavardhini's College of Engineering and Technology</h5>
</div>
<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 m-0 p-0">
 <nav class="navbar m-0 p-2 navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Avahan 2k19 Live</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
<!--SCORE CATEGORY DROPDOWN -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter Scores</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" href="/score/category/Box Cricket">Box Cricket</a>
              <a class="dropdown-item" href="/score/category/Overarm Cricket">Overarm Cricket</a>
              <a class="dropdown-item" href="/score/category/Volleyball">Volleyball</a>
              <a class="dropdown-item" href="/score/category/Throwball">Throwball</a>
              <a class="dropdown-item" href="/score/category/Badminton">Badminton</a>
              <a class="dropdown-item" href="/score/category/Table Tennis">Table Tennis</a>
              <a class="dropdown-item" href="/score/category/Carrom">Carrom</a>
              <a class="dropdown-item" href="/score/category/Chess">Chess</a>
              <a class="dropdown-item" href="/score/category/Football">Football</a>
              <a class="dropdown-item" href="/score/category/Cricket">Cricket</a>
              <a class="dropdown-item" href="/score/category/Kho-Kho">Kho-Kho</a>
              <a class="dropdown-item" href="/score/category/Kabaddi">Kabaddi</a>
              <a class="dropdown-item" href="/score/category/Athletics">Athletics</a>
              <a class="dropdown-item" href="/score/category/Tug Of War">Tug Of War</a>
              <a class="dropdown-item" href="/score/category/Dead lift">Dead lift</a>
            </div>
          </li>
        <!-- GET MATCH SCHEDULES -->
          <li class="nav-item"><a class="nav-link" href="/display/match_schedules">Get Event and Match Group Shcedules</a></li>
<!------------------------------------------------------>
        </ul>
        <ul class="navbar-nav my-0 my-md-0">
            <li class="nav-item">
            <a class="nav-link" href="/display/about">About Avahan 2k19 Live</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="http://vcetavahan.com/">VCET Avahan Homepage</a>
            </li>
        </ul>
       
      </div>
    </nav>
</div>
</div>