<div class="row text-left m-1 p-1">
    <div class="text-info col-lg-12 col-md-12 col-sm-12 col-xs-12 p-1 mb-1">
        <h3>About VCET Avahan 2k19 Live Score</h3>
        <h6>This website shows the scores of recently played sport event 
            in Avahan 2k19.
        </h6>
        <hr class="mb-1">
    </div>
    <div class="text-primary col-lg-12 col-md-12 col-sm-12 col-xs-12 p-1 mb-1">
        <h5>How to use this site to the fullest:</h5>
        <ol>
            <li>
                <h6>Home page: Avahan 2k19 live</h6>
                <p><ul>
                    <li>The home page loads the scores of all the event.</li>
                    <li>The scores itself gives the short overview over the event.</li>
                    <li>Note: the scores are not real time based, it just gives a overview
                        of a recently completed event.
                    </li>
                </ul></p>
            </li>
            <li>
                <h6>Filter the scores: </h6>
                <p><ul>
                    <li>The website also allows to filter the scores, so that you can 
                        view the information easily which you want.
                    </li>
                    <li>Go to filter scores tab from the navbar, select the event name
                        of which you want to view the score.
                    </li>
                    <li>You will land on page with the selected event name.
                    </li>
                    <li>Further you will be provided with more options to filter precisely,
                        options such as <ul>
                                            <li>format of the event</li>
                                            <li>date of the event</li>
                                            <li>boys, girls, etc.</li>
                                        </ul>
                    </li>
                </ul></p>
            </li>
            <li>
                <h6>Get Event and match groups Schedules: </h6>
                <p><ul>
                    <li>Click on Get Event and Match Group Shcedules.</li>
                    <li>You will land on page, on the left list of schedules will be displayed
                        just click on the schedule which you want to know
                    </li>
                </ul></p>
            </li>
        </ol>
        <hr>
    </div>
    <div class=" text-basic col-lg-12 col-md-12 col-sm-12 col-xs-12 p-1">
        <h4>About Avahan 2k19</h4>
        <p>Avahan is the sports event organised by SPORTS COMMITTEE of Vidyavardhini's College of Engineering And Technology. Every year Avahan brings different sports event which includes indoor as well as outdoor games. We organise inter college tournaments where students from different college of mumbai university can participate. </p>
    </div>
</div>